.btn {
  position: fixed;
  bottom: 15px;
  right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  background: #e6f973;
  font-size: 40px;
  margin-block-end: 10px;
  cursor: pointer;

  transform: scale(1);
  transform-origin: bottom right;
  transition: 0.3s;
}

.btn-hide {
  transform: scale(0);
  transform-origin: bottom right;
  transition: 0.3s;
}
